<form action="#" class="space-y-6" @submit.prevent="validate()">
    <div class="grid grid-cols-2 gap-4 md:gap-6">
        <div class="flex flex-col text-left">
            <input type="text" placeholder="First Name*" autocomplete="given-name" required
                class="w-full bg-white border border-gray-200 rounded-xl px-4 py-3 text-sm font-mono focus:ring-2 focus:ring-sky-200 outline-none">
        </div>

        <div class="flex flex-col text-left">
            <input type="text" placeholder="Last Name*" autocomplete="family-name" required
                class="w-full bg-white border border-gray-200 rounded-xl px-4 py-3 text-sm font-mono focus:ring-2 focus:ring-sky-200 outline-none">
        </div>

        <div class="flex flex-col text-left">
            <input type="email" x-model="email" placeholder="Email*" autocomplete="email" required
                class="w-full bg-white border border-gray-200 rounded-xl px-4 py-3 text-sm font-mono focus:ring-2 focus:ring-sky-200 outline-none"
                :class="showError ? 'border-red-500 ring-4 ring-red-50' : 'focus:ring-2 focus:ring-sky-200 outline-none'">

            <div x-show="showError" x-transition x-cloak
                class="mt-3 p-4 bg-red-50 border border-red-100 rounded-xl text-left">

                <p class="text-[10px] font-black text-red-600 uppercase tracking-widest leading-tight">
                    ⚠️ Business Email Required</p>
                <p class="text-[9px] font-medium text-red-500 mt-1">Please use your
                    company
                    domain.
                </p>
            </div>

        </div>

        <div class="flex flex-col text-left">
            <input type="text" placeholder="Website"
                class="w-full bg-white border border-gray-200 rounded-xl px-4 py-3 text-sm font-mono focus:ring-2 focus:ring-sky-200 outline-none">
        </div>
    </div>

    <div class="text-left">
        <label class="text-[10px] font-bold uppercase tracking-widest text-[#041A24] mb-4 block ml-1">What
            services
            are you interested in?*</label>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
            <template
                x-for="service in ['Web Design', 'Branding', 'Sales Funnel', 'Automations', 'LLM Chatbot', 'Data Science', 'Data Cleaning', 'Data Analysis', 'Other']">
                <label
                    class="flex items-center gap-2 bg-white/50 px-4 py-3 border border-dark-gray rounded-lg cursor-pointer hover:bg-white/80 transition-all font-mono tracking-widest">
                    <input type="checkbox" x-model="services" :value="service" class="rounded text-sky-500">
                    <span class="text-[10px] font-bold uppercase tracking-widest" x-text="service"></span>
                </label>
            </template>
        </div>
    </div>

    <div class="flex flex-col text-left">
        <label class="text-[10px] font-bold uppercase tracking-widest text-[#041A24] mb-2 ml-1">Tell
            us about your
            project</label>
        <textarea rows="5" placeholder="Vision, goals, ambitions..."
            class="w-full bg-white border border-gray-200 rounded-xl px-5 py-3 text-sm font-mono focus:ring-2 focus:ring-sky-200 outline-none"></textarea>
    </div>

    <div class="flex flex-col text-left">
        <label class="text-[10px] font-bold uppercase tracking-widest text-[#041A24] mb-2 ml-1">How
            did you hear
            about us?*</label>
        <div class="relative">

            <select
                class="w-full bg-white border border-gray-200 rounded-xl px-4 py-3 text-sm font-mono focus:ring-2 focus:ring-sky-200 outline-none appearance-none cursor-pointer">
                <option>Select an option</option>
                <option>Referral</option>
                <option>Organic Search</option>
                <option>AI Search</option>
                <option>Social Media</option>
            </select>

            <div class="absolute inset-y-0 right-4 flex items-center pointer-events-none text-gray-400">
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </div>
        </div>
    </div>
    <button type="submit" :disabled="loading || subscribed" :class="{
            'bg-[#041A24] hover:scale-105': !loading && !subscribed,
            'bg-sky-700 cursor-wait': loading,
            'bg-emerald-500': subscribed
        }"
        class="w-full text-white py-5 rounded-full text-xs font-black uppercase tracking-[0.3em] transition-all flex items-center justify-center gap-3 shadow-lg active:scale-95">

        <svg x-show="loading" x-cloak class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
            </circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>

        <span x-text="loading ? 'Processing...' : (subscribed ? 'Ready, set, take Off!' : 'Chat with the Crew')"></span>
    </button>
</form>

<!-- Cal element-click embed code begins -->
<script type="text/javascript">
    (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if (typeof namespace === "string") { cal.ns[namespace] = cal.ns[namespace] || api; p(cal.ns[namespace], ar); p(cal, ["initNamespace", namespace]); } else p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init", "consultation", { origin: "https://app.cal.com" });


    // Important: Please add the following attributes to the element that should trigger the calendar to open upon clicking.
    // `data-cal-link="flying-mouse-labs/consultation"`
    // data-cal-namespace="consultation"
    // `data-cal-config='{"layout":"month_view","useSlotsViewOnSmallScreen":"true"}'`

    Cal.ns.consultation("ui", { "cssVarsPerTheme": { "light": { "cal-brand": "#041A24" }, "dark": { "cal-brand": "#1C9DD9" } }, "hideEventTypeDetails": false, "layout": "month_view" });
</script>
<!-- Cal element-click embed code ends -->